## 1. Importing libraries

In [26]:
# Import libraries
import pandas as pd
import numpy as np
import os

## 2. Importing Data

In [27]:
# Turn project folder path into a string
path = r'C:\Users\Admin\Desktop\Data Analysis\Python\04-2024 Instacart Basket Analysis'

In [28]:
path

'C:\\Users\\Admin\\Desktop\\Data Analysis\\Python\\04-2024 Instacart Basket Analysis'

In [29]:
# Import ords_prods_merge_updated.pkl
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_updated.pkl'))

In [30]:
# Checking the shape of ords_prods_merge
ords_prods_merge.shape

(32404289, 16)

In [31]:
# checking the output of ords_prods_merge
ords_prods_merge.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,busiest_day,busiest_day_new,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Regularly busy,Slowest days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Regularly busy,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Least busy,Slowest days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Least busy,Slowest days,Most orders

In [32]:
# Create a subset with first 1,000,000 rows
df = ords_prods_merge[:1000000]

In [33]:
df.shape

(1000000, 16)

In [34]:
df.head(10)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,busiest_day,busiest_day_new,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Regularly busy,Slowest days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Regularly busy,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Least busy,Slowest days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Least busy,Slowest days,Most orders
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Regularly busy,Regularly busy,Average orders
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Least busy,Slowest days,Average orders

## 3. Grouping Data with Pandas

In [35]:
# Groupby() function to group by 'product_name' column
df.groupby('product_name')

In [36]:
# Group by department_id and aggregate the mean order_number
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [37]:
# Using mean() function for department_id for order_number
df.groupby('department_id')['order_number'].mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: order_number, dtype: float64

In [38]:
# Group by department_id and find mean, min, max based on order_number
df.groupby('department_id').agg({'order_number':['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

In [39]:
# Create a new 'max_order' column 
# and apply transform() function on 'order_number' column to generate the max orders for each user
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\Admin\AppData\Local\Temp\ipykernel_9636\461077455.py:3: FutureWarning: The provided callable <function max at 0x000001C614C74540> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [40]:
# Checking the output
ords_prods_merge.head(15)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,busiest_day,busiest_day_new,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Regularly busy,Slowest days,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Regularly busy,Slowest days,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Least busy,Slowest days,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Least busy,Slowest days,Most orders,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Regularly busy,Regularly busy,Average orders,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Least busy,Slowest days,Average orders,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,Regularly busy,Regularly busy,Most orders,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,Regularly busy,Regularly busy,Most orders,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,22

In [69]:
# Tells pandas not to assign any options regarind max number of rows to display
pd.options.display.max_rows = 20

In [42]:
# If cusomter have > 40 orders, assign 'Loyal customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [43]:
# If cusomter have <= 40 orders and > 10 orders, assign 'Regular customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [44]:
#If customer < 10 orders, assign 'New customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [45]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876441
Loyal customer      10284025
New customer         6243823
Name: count, dtype: int64

In [46]:
# Return first 60 rows of user_id, loyalty_flag, order_number columns
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3

## 4. Task

### 4.2 In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [47]:
# Group by department_id and aggregate the mean order_number
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.666284
17               15.694469
18               19.310514
19               17.177343
20               16.473447
21               22.902379

### 4.3 Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

#### Ans: The subset only contains rows for department_id 4, 7, 13, 14, 16, 17, 19, 20 while the results for the entire dataframe contrains rows for department 1 to 21. The mean value for department_id 4, 7, 13, 14, 16, 19, 20 has descreased as compared to the subset, while the mean value for department_id 17 has increased as compared to the subset.

### 4.4 Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [49]:
# Operations was already performed aboved. Checking the output
ords_prods_merge.head(20)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,busiest_day,busiest_day_new,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Regularly busy,Regularly busy,Average orders,10,New customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Regularly busy,Slowest days,Average orders,10,New customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Regularly busy,Slowest days,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Least busy,Slowest days,Average orders,10,New customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Least busy,Slowest days,Most orders,10,New customer
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Regularly busy,Regularly busy,Average orders,10,New customer
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,10,New customer
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,10,New customer
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,10,New customer
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Least busy,Slowest days,Average orders,10,New customer
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,22,Regular customer
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,Regularly busy,Regularly busy,Most orders,22,Regular customer
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,Regularly busy,Regularly busy,Most orders,22,Regular customer
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,22,Regular customer
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,22,Regular customer
15,2293453,19,2,5,14,6.0,196,3,0,Soda,77,7,9.0,Regularly busy,Regularly busy,Most orders,9,New customer
16,1973799,19,5,6,12,8.0,196,15,1,Soda,77,7,9.0,Regularly busy,Regularly busy,Most orders,9,New customer
17,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,Least busy,Slowest days,Average orders,9,New customer
18,1573906,21,10,3,10,6.0,196,2,0,Soda,77,7,9.0,Regularly busy,Slowest days,Most orders,33,Regular customer
19,1593000,31,10,3,8,7.0,196,17,0,Soda,77,7,9.0,Regularly busy,Slowest days,Average orders,20,Regular customer

In [50]:
# Checking frequency of loyalty flag
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876441
Loyal customer      10284025
New customer         6243823
Name: count, dtype: int64

### 4.5 The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [51]:
# Group by loyalty_flag and aggregate the prices to find mean, min, max, median and std
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max', 'median', 'std']})

                     prices
                       mean  min      max median         std
loyalty_flag
Loyal customer    10.386384  1.0  99999.0    7.4  328.018871
New customer      13.294943  1.0  99999.0    7.4  597.568288
Regular customer  12.495916  1.0  99999.0    7.4  539.726611

#### Seems like there is some outlier data with max prices.

In [75]:
# Checking price data for ords_prods_merge
ords_prods_merge['prices'].value_counts(dropna = False).sort_index(ascending = False)

prices
99999.0       698
14900.0      4429
25.0        13772
24.9         5781
24.8          410
            ...
1.4        392209
1.3        425691
1.2        256258
1.1        242782
1.0        115143
Name: count, Length: 242, dtype: int64

#### Seems like there is outlier price of 99999 and 14900

In [76]:
df_new = ords_prods_merge.loc[(ords_prods_merge['prices'] != 99999) & (ords_prods_merge['prices'] != 14900)]

In [77]:
df_new

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,busiest_day,busiest_day_new,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Regularly busy,Regularly busy,Average orders,10,New customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Regularly busy,Slowest days,Average orders,10,New customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Regularly busy,Slowest days,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Least busy,Slowest days,Average orders,10,New customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Least busy,Slowest days,Most orders,10,New customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404284,1320836,202557,17,2,15,1.0,43553,2,1,Orange Energy Shots,64,7,3.7,Regularly busy,Regularly busy,Most orders,31,Regular customer
32404285,31526,202557,18,5,11,3.0,43553,2,1,Orange Energy Shots,64,7,3.7,Regularly busy,Regularly busy,Most orders,31,Regular customer
32404286,758936,203436,1,2,7,NaN,42338,4,0,"Zucchini Chips, Pesto",50,19,6.9,Regularly busy,Regularly busy,Average orders,3,New customer
32404287,2745165,203436,2,3,5,15.0,42338,16,1,"Zucchini Chips, Pesto",50,19,6.9,Regularly busy,Slowest days,Fewest orders,3,New customer
32404288,3093936,205420,1,4,14,NaN,28818,8,0,Hot Oatmeal Multigrain Raisin,130,14,10.3,Least busy,Slowest days,Most orders,16,Regular customer

In [80]:
# Check if outlier have been removed from this new df
df_new['prices'].value_counts(dropna = False).sort_index(ascending = False)

prices
25.0     13772
24.9      5781
24.8       410
24.7      7283
24.6      1962
         ...
1.4     392209
1.3     425691
1.2     256258
1.1     242782
1.0     115143
Name: count, Length: 240, dtype: int64

In [81]:
# Group by loyalty_flag and aggregate the prices to find mean, min, max, median and std without outlier
df_new.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max', 'median', 'std']})

                    prices
                      mean  min   max median       std
loyalty_flag
Loyal customer    7.773606  1.0  25.0    7.4  4.206146
New customer      7.801332  1.0  25.0    7.4  4.266815
Regular customer  7.798362  1.0  25.0    7.4  4.254871

#### Mean value for loyal, new and regular customer have dropped. Max value now shows a more reasonable number. Mean values only differs slightly between loyal customer as compared to new and regular customer.

### 4.6 The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:
- If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
- If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [82]:
# Create a new 'avg_spending' column 
# and apply transform() function on 'prices' column to generate the average spending for each user
ords_prods_merge['avg_spending'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\Admin\AppData\Local\Temp\ipykernel_9636\1723830746.py:3: FutureWarning: The provided callable <function mean at 0x000001C614C74F40> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['avg_spending'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [84]:
ords_prods_merge.head(20)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,busiest_day,busiest_day_new,busiest_period_of_day,max_order,loyalty_flag,avg_spending
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Least busy,Slowest days,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Least busy,Slowest days,Most orders,10,New customer,6.367797
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Least busy,Slowest days,Average orders,10,New customer,6.367797
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
15,2293453,19,2,5,14,6.0,196,3,0,Soda,77,7,9.0,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059
16,1973799,19,5,6,12,8.0,196,15,1,Soda,77,7,9.0,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059
17,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,Least busy,Slowest days,Average orders,9,New customer,8.372059
18,1573906,21,10,3,10,6.0,196,2,0,Soda,77,7,9.0,Regularly busy,Slowest days,Most orders,33,Regular customer,7.012683
19,1593000,31,10,3,8,7.0,196,17,0,Soda,77,7,9.0,Regularly busy,Slowest days,Average orders,20,Regular customer,8.137793

In [87]:
# If cusomter have an average spending of < 10, assign 'Low spender'
ords_prods_merge.loc[ords_prods_merge['avg_spending'] < 10, 'Spender_status'] = 'Low spender'

In [88]:
# If cusomter have an average spending of >= 10, assign 'High spender'
ords_prods_merge.loc[ords_prods_merge['avg_spending'] >= 10, 'Spender_status'] = 'High spender'

In [89]:
ords_prods_merge.head(20)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,busiest_day,busiest_day_new,busiest_period_of_day,max_order,loyalty_flag,avg_spending,Spender_status
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender
15,2293453,19,2,5,14,6.0,196,3,0,Soda,77,7,9.0,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059,Low spender
16,1973799,19,5,6,12,8.0,196,15,1,Soda,77,7,9.0,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059,Low spender
17,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,Least busy,Slowest days,Average orders,9,New customer,8.372059,Low spender
18,1573906,21,10,3,10,6.0,196,2,0,Soda,77,7,9.0,Regularly busy,Slowest days,Most orders,33,Regular customer,7.012683,Low spender
19,1593000,31,10,3,8,7.0,196,17,0,Soda,77,7,9.0,Regularly busy,Slowest days,Average orders,20,Regular customer,8.137793,Low spender

In [91]:
# Check count for spender status
ords_prods_merge['Spender_status'].value_counts(dropna = False)

Spender_status
Low spender     31770062
High spender      634227
Name: count, dtype: int64

### 4.7 In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
- If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
- If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
- If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [92]:
# Create a new 'median_order_days' column 
# and apply transform() function on 'prices' column to generate the average spending for each user
ords_prods_merge['median_order_days'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\Admin\AppData\Local\Temp\ipykernel_9636\4279362597.py:3: FutureWarning: The provided callable <function median at 0x000001C614DACD60> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['median_order_days'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [94]:
# Check the 'median_order_days' column is created
ords_prods_merge.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,busiest_day,busiest_day_new,busiest_period_of_day,max_order,loyalty_flag,avg_spending,Spender_status,median_order_days
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,7,9.0,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,7,9.0,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,7,9.0,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,7,9.0,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,7,9.0,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5

In [95]:
# If cusomter have median_order_days > 20, assign 'Non-frequent customer'
ords_prods_merge.loc[ords_prods_merge['median_order_days'] > 20, 'order_frequency'] = 'Non-frequent customer'

In [96]:
# If cusomter have median_order_days > 10 and <= 20, assign 'Regular customer'
ords_prods_merge.loc[(ords_prods_merge['median_order_days'] > 10) & (ords_prods_merge['median_order_days'] <= 20), 'order_frequency'] = 'Regular customer'

In [97]:
# If cusomter have median_order_days > 20, assign 'Frequent customer'
ords_prods_merge.loc[ords_prods_merge['median_order_days'] <= 10, 'order_frequency'] = 'Frequent customer'

In [98]:
# Check value count for 'order_frequency' column
ords_prods_merge['order_frequency'].value_counts(dropna = False)

order_frequency
Frequent customer        21559233
Regular customer          7208688
Non-frequent customer     3636363
nan                             5
Name: count, dtype: int64

In [103]:
df_new2 = ords_prods_merge.loc[ords_prods_merge['order_frequency'] == 'nan']

In [104]:
df_new2

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,prices,busiest_day,busiest_day_new,busiest_period_of_day,max_order,loyalty_flag,avg_spending,Spender_status,median_order_days,order_frequency
13645692,895835,159838,1,0,17,NaN,10749,3,0,Organic Red Bell Pepper,...,5.7,Busiest day,Busiest days,Average orders,1,New customer,7.42,Low spender,NaN,nan
17251990,895835,159838,1,0,17,NaN,33401,6,0,Goat Cheese Crumbles,...,14.8,Busiest day,Busiest days,Average orders,1,New customer,7.42,Low spender,NaN,nan
17622767,895835,159838,1,0,17,NaN,23695,2,0,California Veggie Burger,...,4.7,Busiest day,Busiest days,Average orders,1,New customer,7.42,Low spender,NaN,nan
24138031,895835,159838,1,0,17,NaN,21334,5,0,Organic Peeled Garlic,...,10.2,Busiest day,Busiest days,Average orders,1,New customer,7.42,Low spender,NaN,nan
25879440,895835,159838,1,0,17,NaN,22198,1,0,4X Ultra Concentrated Natural Laundry Detergen...,...,1.7,Busiest day,Busiest days,Average orders,1,New customer,7.42,Low spender,NaN,nan

#### Seems like the order_frequency with nan belongs to a customer who only ordered once, thus there was no days_since_prior_order.

In [106]:
# Setting the order_frequency with 'nan' to 'Non-frequent customer'
ords_prods_merge.loc[ords_prods_merge['order_frequency'] == 'nan', 'order_frequency'] = 'Non-frequent customer'

In [107]:
# Check value count for 'order_frequency' column
ords_prods_merge['order_frequency'].value_counts(dropna = False)

order_frequency
Frequent customer        21559233
Regular customer          7208688
Non-frequent customer     3636368
Name: count, dtype: int64

### 4.9 Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.

In [108]:
# Export the ords_prods_merge as a pickle file
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_aggregated.pkl'))